*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -ms-overflow-style: none;
  background-color: #0a0805;
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: #ebe8e0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

[visibility-hidden] {
  visibility: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
svg {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio::not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  color: #0a0805;
  text-decoration: underline;
}

ul,
ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.25rem;
}

li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-left: 0.5rem;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  letter-spacing: -0.04em;
  font-weight: 500;
  line-height: 1;
}

h1 {
  font-size: 11.391rem;
}

h2 {
  font-size: 7.594rem;
}

h3 {
  font-size: 5.063rem;
}

h4 {
  font-size: 3.375rem;
}

h5 {
  font-size: 2.25rem;
}

h6 {
  font-size: 1.5rem;
}

mark {
  background: #ff521b;
  color: #0a0805;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

img {
  border: 0;
  max-width: 100%;
  display: inline-block;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35rem 0.625rem 0.75rem;
}

legend {
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  margin-bottom: 0.25rem;
}

blockquote {
  border-left: 0.1875rem dashed black;
  padding: 0.75rem 1.25rem;
}

figcaption {
  text-align: center;
  margin-top: 0.25rem;
}

.pg-wrp {
  width: 100%;
  height: 100%;
  min-height: 100svh;
}

.nav-ctr::before,
[no-hover]::before {
  all: unset;
}

.drag-wrp {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.nav-wrp {
  padding: 1rem 0;
  position: fixed;
  inset: 0 0 auto;
  z-index: 999;
}

.foot-wrp {
  padding: 1rem 0;
  position: fixed;
  inset: auto 0 0 0;
  z-index: 999;
}

.box {
  padding: 0 2%;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav-box {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

#nav-left {
  grid-area: span 1;
}

.nav-ctr {
  max-width: 100%;
  display: inline-block;
  position: relative;
  z-index: 7;
  width: 15rem;
}

.nav-ct {
  max-width: 100%;
  display: inline-block;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
}

.foot-in {
  max-width: 100%;
  display: inline-block;
  position: relative;
  z-index: 7;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: -0.02em;
}

.logo {
  width: 100%;
  height: 100%;
}

.ry:before,
.ry:after {
  content: "";
  grid-area: 1/1/2/2;
  display: table;
}

.ry:after {
  clear: both;
}

#nav-ctr {
  justify-self: center;
}

#nav-right {
  grid-area: span 1;
  justify-self: end;
}

.sec {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.links-ct-wrp {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100svh;
  padding-top: 2.625rem;
  padding-bottom: 3rem;
}

.links-ct {
  height: 100%;
  display: grid;
  place-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  grid-row-gap: 0;
  grid-column-gap: 0;
}

.links-ct-itm {
  height: 90%;
  display: grid;
  place-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: minmax(30ch, 1fr);
  grid-template-rows: auto 50vh auto;
  flex-direction: column;
  text-align: center;
  aspect-ratio: 4/5;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  grid-column: 1;
  grid-row: 1;
}

#links-ct-itm {
  justify-self: center;
}

.links-ct-nm {
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  white-space: nowrap;
}

.links-ct-img {
  display: inline-block;
  max-width: 100%;
  height: 100%;
  align-self: center;
  aspect-ratio: 4/5;
}

.links-ct-img img {
  vertical-align: middle;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.links-ct-n {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.02em;
  white-space: nowrap;
}

.links-nvg {
  display: none;
}

.txtr-wrp img {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  object-fit: cover;
  max-width: none;
  opacity: 0.25;
}

@media screen and (max-width: 479px) {
  .links-ct-itm {
    max-width: 96vw;
  }
}
